<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Password Generator</h1>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/generate" method="post">
    <input type="checkbox" id="uppercase" name="uppercase">
    <label for="uppercase">Uppercase:</label><br>
    <input type="checkbox" id="lowercase" name="lowercase">
    <label for="lowercase">Lowercase:</label><br>
    <input type="checkbox" id="numbers" name="numbers">
    <label for="numbers">Numbers:</label><br>
    <input type="submit" value="Generate Password">
</form>
</body>
</html>